.whole{

}
.blue{
  background-color:
  width: 100%;
  height: calc(100% / 4);
}
.teal{
  background-color:
  width: 100%;
}
.oliive {
  background-color:
  width: 100%;
}
.yellow {
  background-color:
  width: 100%;
}
